<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Meadowlark Travel</title>

        {{#if showTests}}
            <link rel="stylesheet" href="{{static '/vendor/mocha.css'}}">
        {{/if}}

        {{!--head section block--}}
        {{{_sections.head}}}
        {{!--test block--}}

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{{static '/css/meadowlark.min.10a0ef5d.css'}}">
    </head>
    <body>
        {{!--google analytics--}}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-89951621-1', 'auto');
            ga('send', 'pageview');
        </script>

        {{!--facebook like plug-in--}}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[1];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <header>
            <div class="container-fluid">
                <div class="row">
                    {{#if user}}
                        <div class="pull-right">welcome, {{user.name}} <a href="/logout" class="btn btn-default btn-xs">Logout</a></div>
                    {{else}}
                        <div class="pull-right"><a href="/login" class="btn btn-default btn-xs">Login</a></div>
                    {{/if}}
                </div>
            </div>
        </header>
        
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="pull-left">
                        <img src="{{logoImage}}" alt="Meadowlark Travel Logo">
                    </div>
                    {{! The following represents a lot of code duplication, so need to change this in the future }}
                    {{#if cartItems}}
                        <div class="pull-right"><a href="/cart"><img class="cartIcon" src="{{static '/img/shop/cart_full.png'}}" alt="Cart Contains {{cartItems}} Items"></a></di>
                    {{else}}
                        <div class="pull-right"><a href="/cart"><img class="cartIcon" src="{{static '/img/shop/cart_empty.png'}}" alt="Cart Empty"></a></div>
                    {{/if}}                    
                </div>
            </div>
        </nav>

        <section>
            <div id="content" class="container-fluid">
                {{#if flash}}
                    <div class="alert alert-dismissible alert-{{flash.type}}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>{{flash.intro}}</strong> {{{flash.message}}}
                    </div>
                {{/if}}

                This site is opened for testing with personal purpose <b>MongoDB, Express, Angular, Node.js</b>
                ... For now, under construction.

                {{{body}}}
                
            </div>
        </section>

        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div 
                        class="fb-like" 
                        data-href="https://meadowlarktravelco.herokuapp.com/" 
                        data-layout="button" 
                        data-action="like" 
                        data-size="small"
                        data-show-faces="false" 
                        data-share="true"></div>
                    <div class="pull-right">
                        &copy; {{copyrightYear}} Meadowlark Travel
                    </div>                    
                </div>
            </div>            
        </footer>
        
        {{!--jquery section block--}}
        <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>        
        <script>
            var IMG_CART_EMPTY = '{{static '/img/shop/cart_empty.png'}}';
            var IMG_CART_FULL = '{{static '/img/shop/cart_full.png'}}';

            // simple client-side cart implementation (mostly mocked for now)
			var cart = (function() {
				// normally we would get this from an AJAX call, or some similar method
				var items = Array({{cartItems}});
				return {
					items: items,
					isEmpty: function() {
						return !items.length;
					},
					addItem: function(id) {
						items.push(id);
						$(document).trigger('meadowlark_cart_changed');
					},
                    clearItems: function(){
                        while(items.length){
                            items.pop();
                            $(document).trigger('meadowlark_cart_changed');
                        }
                    },
				};
			})();

            $(document).on('meadowlark_cart_changed', function(){
                $('nav img.cartIcon').attr('src', cart.isEmpty() ? IMG_CART_EMPTY : IMG_CART_FULL);
            });
        </script>

        {{{_sections.jquery}}}
        
        {{!--test block--}}
        {{#if showTests}}
            <div id="mocha"></div>
            <script src="{{static '/vendor/mocha.js'}}"></script>
            <script src="{{static '/vendor/chai.js'}}"></script>
            <script>
                mocha.ui('tdd');
                var assert = chai.assert;
            </script>
            <script src="{{static '/qa/tests-global.js'}}"></script>
            {{#if pageTestScript}}
                <script src="{{pageTestScript}}"></script>
            {{/if}}
            <script>mocha.run();</script>
        {{/if}}

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{static '/js/meadowlark.min.8340fa5d.js'}}"></script>
    </body>
</html>